* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "rooney-sans", sans-serif;
}

.RooneySansBlack{
font-family: "rooney-sans", sans-serif;
font-weight: 900;
font-style: normal;
}

.RooneySansMedium{
font-family: "rooney-sans", sans-serif;
font-weight: 500;
font-style: normal;
}

.RooneySansBold{
font-family: "rooney-sans", sans-serif;
font-weight: 700;
font-style: normal;
}

.RooneySansLight{
font-family: "rooney-sans", sans-serif;
font-weight: 300;
font-style: normal;
}

label{
    display: block;
    margin: 5px 0px 0px 60px;
    color:#e98e33;
    
}
.submit-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
}

.submit{
    height: 40px;
    width: 100px;
    border: none;
    background-color: #FFB166;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-family: "rooney-sans";
    font-weight: 500;
}

body{
    background-color: #FA9CB4;
}

h2{
    color: #FFB166;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    font-family:"rooney-sans";
    font-weight: 700;
}

h1{
    font-family: "rooney-sans";
    font-size:50px;
    font-weight: 900;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.cadastro{
    border-radius: 30px;
    width: 40vw;
    height: 96vh;
    background-color: #ffeae6;
    position: absolute;
    right: 15vw;
    top:2vh;
    font-family:"rooney-sans";
    font-weight: 500;
    overflow-y: auto;
    box-shadow: #85344a5b 0px 0px 20px 0px ;
    animation-duration: 1.7s;
    animation-name: slidein;
}

.cadastro::-webkit-scrollbar{
    width: 10px; 
    height: 10px;
}

.cadastro::-webkit-scrollbar-track {
    background: #FFB166; 
    border-radius: 5px;
    margin-top: 5vw;
    margin-bottom: 5vh;
}

.cadastro::-webkit-scrollbar-thumb {
    background-color: #db7790;
    border-radius: 10px;
    border: 2px solid #FFB166; 
}

.logo{
    color: white;
    position: absolute;
    left: 18vw;
    top: 33vh;

}


.title-label{
    font-size: 24px;
    margin-top: 15px;
    margin-left: 40px;
    padding: 10px;
}

.text-label{
    font-size: 21px;
    color: #db7790;
    display: inline-block;
}


.input-dados{
    border: none;
    appearance: none;
    background-color: white;
    width: 390px;
    height: 40px;
    border-radius: 10px;
    margin: 0px 0px 0px 60px;
    text-align: center;
    cursor:pointer;
    font-family:"rooney-sans";
    font-size: 16px;
    font-weight: 300;
    
}

.input-dados:focus{
    outline: none;
}

.input-radio{
    appearance: none;
    border: 1px solid #e9577c ;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin: 0px 0px 0px 5px;
    cursor: pointer;
    content: url(image/inputRadio.png);
    
}

.input-radio:checked{
    border-color: #e9577c;
    content: url(image/inputRadio_checked.png);
}


select{
    outline: 0;
    color: #808080;
}

input[type = "date"]{
    color: #808080;
}


@keyframes slidein {
    0% {
        transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);     
    }
  }


  .spanRequired{
    display: none;
    flex-direction: column;
    color: #fa2626;
    font-size: 16px;
    margin: 0px 0px 0px 60px;
  }

  .mostrarPets{
    background-color: #ffeae6;
    width: 350px;
    height: 150px;
    color:#df8430;
    box-shadow: #85344a5b 0px 0px 30px 0px ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }

  .mostrarPets li{
    margin: 10px 0px;
  }

  .mostrarPets-container{
    display: flex;
    margin: 30px 0px 0px 0px;
    justify-content: center;
  }