* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.RooneySansBlack{
    font-family: "rooney-sans", sans-serif;
    font-weight: 900;
    font-style: normal;
}
    
.RooneySansMedium{
    font-family: "rooney-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}
    
.RooneySansBold{
    font-family: "rooney-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
    
.RooneySansLight{
    font-family: "rooney-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    background-color: #FA9CB4;
}

.background{
    background-color: #ffeae6;
    position: absolute;
    right: 3vw;
    top:3vh;
    width: 1810px;
    height: 880px;
    border-radius: 30px;
    animation-duration: 1.7s;
    animation-name: slidein;
    padding: 35px;
}

@keyframes slidein {
    0% {
        transform: translateX(-100%);
    }

    

    100% {
      transform: translateX(0%);     
    }
  }

  .perfilPet{
    background-color: #fffcfd;
    width: 350px;
    height: 500px;
    box-shadow:#c59ba65b 0px 0px 20px 0px ;
    border-radius: 20px;
  }

  .submit-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2em;

}

  .submit{
    height: 40px;
    width: 100px;
    border: none;
    background-color: #FFB166;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-family: "rooney-sans";
    font-weight: 500;
}

p{
    font-family:"rooney-sans";
    font-size: 16px;
    font-weight: 300;
}

img{
    margin: 30px 130px 0px;
    width: 90px;
    height: 90px;
}